<!-- TODO: make the footer a 3 column responsive layout -->
<footer class="container">
    <div class="row my-5">
        <div class="col-sm-12 col-md-4 mb-4">
            <h2>About</h2>
            <ul class="footer-list">
                <li><a href="#">Learn More</a></li>
                <li><a href="#">People</a></li>
                <li><a href="#">Careers</a></li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-4 mb-4">
            <h2 class="ft-title">Resources</h2>
            <ul class="footer-list">
                <li><a href="#">Docs</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-4 mb-4">
            <h2>Contact</h2>
            <ul class="footer-list">
                <li><a href="#">Help</a></li>
                <li><a href="#">Sales</a></li>
            </ul>
        </div>
    </div>
</footer>