.navbar-logo {
    width: 72px;
    height: 100%;
    margin-right: 0.8rem;
}

.navbar-nav {
    .nav-item {
        margin-left: 0.8rem;
    }
}

@media (max-width: 576px) { 
    .navbar-logo {
        width: 48px;
        margin-right: 0.3rem;
    }
}
 