section{
    background-image: url("/assets/images/hero-bg.jpg");
    width:auto;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        color: #FFF;
        font-weight: bold;
        text-transform: uppercase;
    }
}